{{ header }}
"""
{{ name }} bootstrap for DjangoMOO.

Load with:
    manage.py moo_init --bootstrap {{ dataset_name }}

World statistics (as parsed from {{ manifest_str }}):
    Rooms:   {{ room_count }}
    Objects: {{ object_count }}

{{ license_blurb }}
"""
# pylint: disable=no-name-in-module,c-extension-no-member

import importlib.resources
import logging
import secrets
from time import time

from moo import bootstrap
from moo.core import code, lookup

log = logging.getLogger(__name__)
for _line in {{ banner_repr }}.splitlines():
    log.info(_line)
_repo = bootstrap.initialize_dataset({{ dataset_name_repr }})
wizard = lookup("Wizard")
_ = lookup("System Object")

_namespace = {
    "log": log,
    "secrets": secrets,
    "time": time,
    "bootstrap": bootstrap,
    "lookup": lookup,
    "wizard": wizard,
    "repo": _repo,
    "_": _,
}

_pkg = importlib.resources.files({{ bootstrap_pkg_repr }})
_scripts = sorted(
    (f for f in _pkg.iterdir() if f.name.endswith(".py") and f.name[0].isdigit()),
    key=lambda f: f.name,
)

with code.ContextManager(wizard, log.info, site=wizard.site):
    for _script in _scripts:
        exec(compile(_script.read_text(encoding="utf8"), _script.name, "exec"), _namespace)  # pylint: disable=exec-used
    bootstrap.load_verbs(_repo, {{ verbs_pkg_repr }}, replace=True)
