__pycache__
.claude
.coverage
.DS_Store
.local/*
.tm_properties
.venv
.vscode
*.egg
*.pyc
dist/*
docs/_build/*
docs/build/*
docs/source/generated/*
extras/agents/*/logs/*
extras/agents/*/builds/*
node_modules/*
prof/*
